@font-face {
    font-family: ZeldaFont;
    src: url('../assets/fonts/the-legend-of-zelda-nes.ttf');
}

.GamePage {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fade-in 1.2s both;
}

@keyframes fade-in {
    0% {
        opacity : 0%;
    }
    100% {
        opacity : 100%;
    }
}


.View p {
    color: white;
    font-family: ZeldaFont;
    text-align: center;
}

.GameGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.ImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.Image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0;
}

.Seller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SellerPicContainer {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SellerPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Left, .Right {
    width: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

.EditGameBTN, .RemoveGameBTN {
    border-radius: 25px;
    border-color: transparent;
    color: white;
    background-color: red;
    padding: 15px 30px;
    font-size: 15px;
    margin-top: 1%;
    font-weight: bold;
    font-family: ZeldaFont;
}

.EditGameBTN:hover, .RemoveGameBTN:hover {
    color: rgb(104, 104, 104);
    background-color: rgb(64, 1, 1);
}

.ButtonsDiv {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
}

.price {
    color: red;
}

@media (max-width: 1439px) {
    .View p {
        font-size: 15px;
    }

    .ImageDiv {
        width: 250px;
        height: 250px;
        padding-top: 20px;
    }

    .Seller p {
        margin-left: 40px;
    }

    .SellerPicContainer {
        width: 100px;
        height: 100px;
    }

    .EditGameBTN, .RemoveGameBTN {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (min-width: 1440px) {
    .gameName {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

    .View {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 100%;
    }

    .Details{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .GameImages {
        width: 450px;
    }

    .Description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        height: 20%;
    }

    .ImageDiv {
        width: 400px;
        height: 400px;
    }

    .Seller {
        width: 100%;
    }

    .Seller p {
        margin-right: 30px;
    }

    .SellerPicContainer {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .EditGameBTN, .RemoveGameBTN {
        margin-left: 25px;
    }
}
