/* Style for individual grid items */


.singleGame:hover {
    color: red;
}

@media (max-width : 1439px) {
    .NewGameBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 5px 20px 5px 20px;
        font-size: 10px;
        margin-top: 1%;
        margin-left: 25px;
        font-weight: bold;
        font-family: ZeldaFont;
    }

    .NewGameBTN:hover {
        border-radius: 25px;
        border-color: transparent;
        color: rgb(104, 104, 104);
        background-color: rgb(64, 1, 1);
        padding: 5px 20px 5px 20px;
        font-size: 10px;
        margin-top: 1%;
        margin-left: 25px;
        font-weight: bold;
    }

    .MyGames {
        margin-top: 70px;
    }
}

@media (min-width : 1440px) {
    .NewGameBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 15px 30px 15px 30px;
        font-size: 15px;
        margin-top: 1%;
        margin-left: 25px;
        font-weight: bold;
    }

    .NewGameBTN:hover {
        border-radius: 25px;
        border-color: transparent;
        color: rgb(104, 104, 104);
        background-color: rgb(64, 1, 1);
        padding: 15px 30px 15px 30px;
        font-size: 15px;
        margin-top: 1%;
        margin-left: 25px;
        font-weight: bold;
    }

    .MyGames {
        margin-top: 110px;
    }
}
