@font-face {
    font-family: ZeldaFont;
    src: url('../assets/fonts/the-legend-of-zelda-nes.ttf');
}

@keyframes slide-up {
    0% {
        transform: translateY(1000px);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.ProfileCont {
    animation: slide-up 1.2s both;
}

.ProfilePage {
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width : 1439px) {
    .Profile, .MyProfile {
        width : 100%;
        height : 100vh;
        display : flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .MyProfile {
        margin-top: 70px;
    }

    .ProfileCont {
        width: 80%;
        height: fit-content;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-bottom: 25px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.300);
        font-family: ZeldaFont;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
        font-size: 10px;
    }

    .info-item {
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    h1.info-item {
        width : 1px;
        height: auto;
    }

    .info h1 {
        font-size: 15px;
        height: auto;
    }

    .ChngPrflBTN {
        margin-top: 15vw;
        margin-bottom: 15vw;
    }

    .Profilepicture {
        width : 20vw;
        height : 20vw;
        margin-top: 5vw;
        border-radius: 50%;
        margin-bottom: 25%;
        overflow: hidden;
    }

    .Profilepicture img {
        width: 100%;
        height: 100%
    }

    .EditUserBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 5px 10px 5px 10px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 10px;
        font-family: ZeldaFont;
    }

    .EditUserBTN:hover {
        border-radius: 25px;
        border-color: transparent;
        color: rgb(168, 168, 168);
        background-color: rgb(65, 0, 0);
        padding: 5px 10px 5px 10px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 10px;
    }

    .ChngPrflBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 10px 25px 10px 25px;
        width : 100%;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 10px;
        font-family: ZeldaFont;
    }

    .ChngPrflBTN:hover {
        border-color: transparent;
        color: rgb(168, 168, 168);
        background-color: rgb(65, 0, 0);
    }

    .previewContainer {
        width : 100px;
        height : 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow : hidden;
        object-fit: contain;
        object-position: center;
        margin-left : 50%
    }

    .profilePicturePreview {
        width : 100%;
        height : 100%;
    }

    .SendMessageBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 10px 15px 10px 15px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 7px;
        font-family: ZeldaFont;
    }

    .SendMessageBTN:hover {
        background-color: rgb(65, 0, 0);
    }

    .UsernameAndPic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (min-width : 1440px) {
    .Profile, .MyProfile {
        border-radius: 25px;
        border-color: black;
        border-width: 1px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        
    }

    .MyProfile {
        margin-top: 110px;
    }

    .ProfileCont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 90px;
        padding: 5%; 
        width: 80%;  /* Allow ProfileCont to fill available width */
        height: fit-content; /* Allow ProfileCont to fill available height */
        max-width: 100%;  /* Prevent overflow */
        background-color: white;
        margin-bottom: 25px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.300);
        font-family: ZeldaFont;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        font-size: 15px;
    }

    .info .info-item{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .Profilepicture {
        width: 150px; 
        height: 150px; 
        overflow: hidden;  /* Prevent image from overflowing */
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; /* Ensure the picture is centered in the parent container */
        margin-bottom : 10%;
    }

    .Profilepicture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; /* Ensure the image stays centered */
    }

    .EditUserBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 15px 30px 15px 30px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 25px;
        font-family: ZeldaFont;
    }

    .EditUserBTN:hover {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: rgb(65, 0, 0);
        padding: 15px 30px 15px 30px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 25px;
    }

    .ChngPrflBTN {
        border-radius: 25px;
        border-color: transparent;
        color: rgb(255, 251, 251);
        background-color: red;
        padding: 15px 30px 15px 30px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 25px;
        font-family: ZeldaFont;
    }

    .ChngPrflBTN:hover {
        border-radius: 25px;
        border-color: transparent;
        color: rgb(79, 79, 79);
        background-color: rgb(65, 0, 0);
        padding: 15px 30px 15px 30px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 25px;
    }

    .SendMessageBTN {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: red;
        padding: 15px 30px 15px 30px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 25px;
        font-family: ZeldaFont;
    }

    .SendMessageBTN:hover {
        border-radius: 25px;
        border-color: transparent;
        color: white;
        background-color: rgb(65, 0, 0);
        padding: 15px 30px 15px 30px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 25px;
    }

    .profilePicturePreview {
        width : 100%;
        height : 100%;
    }

    .profilePictureContainer {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: 30px;
    }

    .previewContainer {
        width : 500px;
        height : 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow : hidden;
        object-fit: contain;
        object-position: center;
    }

    .UsernameAndPic {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}