@font-face {
    font-family: ZeldaFont;
    src: url('../assets/fonts/the-legend-of-zelda-nes.ttf');
}

.Signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: fit-content;
}

.LoginPrompt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    color: white;
    text-decoration: none;
    font-family: ZeldaFont;
    transition: color 300ms ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;
}

.SignupCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignupCont form {
    display: flex;
    flex-direction: column;
}

.SignupCont input[type="text"],
.SignupCont input[type="password"] {
    margin: 5px 0;
    border-radius: 5px;
    padding: 15px;
}

.SignupCont input[type="submit"] {
    border-style: none;
    color: white;
    background-color: red;
    border-width: 1px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 15px 20px;
    font-family: ZeldaFont;
}

.SignupCont input[type="submit"]:hover {
    color: rgb(67, 67, 67);
    background-color: rgb(65, 0, 0);
}

.LoginPrompt:hover {
    color: red;
}

.validator, .SignupForm, .SignupCont h1 {
    font-family: ZeldaFont;
}

.validator {
    color: red;
}

.SignupCont h1 {
    color: white;
}

@media (max-width: 1439px) {
    .Signup {
        margin-top: 70px;
        width : 100%;
    }

    .SignupCont {
        width : 80%;
    }

    .LoginPrompt {
        font-size: 10px;
    }
}

@media (min-width: 1440px) {
    .Signup {
        margin-top: 110px;
        width: 100%;
    }

    .LoginPrompt {
        font-size: 20px;
    }

    .SignupCont {
        width : 30%;
    }
}